:root {
  --kw: #c586c0;
  --type: #4ec9b0;
  --str: #ce9178;
  --num: #b5cea8;
  --com: #6a9955;
  --func: #dcdcaa;
  --annot: #c8c8c8;
  --class: #4ec9b0;
  --method: #dcdcaa;
  --field: #9cdcfe;
  --op: #d4d4d4;
  --punct: #d4d4d4;
  --line-num: #858585;
}

pre, code {
  color: var(--code-txt);
}

pre {
  counter-reset: line;
  padding-left: 2.5em;
  position: relative;
}

pre code {
  display: block;
}

pre code > .line {
  counter-increment: line;
  display: block;
  position: relative;
}

pre code > .line::before {
  content: counter(line);
  position: absolute;
  left: -2.5em;
  width: 2em;
  text-align: right;
  color: var(--line-num);
}

.tok-keyword {
  color: var(--kw);
}

.tok-type {
  color: var(--type);
}

.tok-string {
  color: var(--str);
}

.tok-number {
  color: var(--num);
}

.tok-comment {
  color: var(--com);
}

.tok-function {
  color: var(--func);
}

.tok-annotation {
  color: var(--annot);
}

.tok-class {
  color: var(--class);
}

.tok-method {
  color: var(--method);
}

.tok-field {
  color: var(--field);
}

.tok-operator {
  color: var(--op);
}

.tok-punctuation {
  color: var(--punct);
}

[data-theme="light"] {
  --code-txt: #333;
  --kw: #0000ff;
  --type: #267f99;
  --str: #a31515;
  --num: #098658;
  --com: #008000;
  --func: #795e26;
  --annot: #267f99;
  --class: #267f99;
  --method: #795e26;
  --field: #001080;
  --op: #000;
  --punct: #000;
  --line-num: #999;
}

[data-theme="high-contrast"] {
  --code-txt: #fff;
  --kw: #ff9aff;
  --type: #a4ffff;
  --str: #ffb977;
  --num: #ffff00;
  --com: #ffffff;
  --func: #00ff00;
  --annot: #ff00ff;
  --class: #a4ffff;
  --method: #00ff00;
  --field: #ffff00;
  --op: #ffffff;
  --punct: #ffffff;
  --line-num: #fff;
}
